{% block sidebar%}
{% endblock sidebar%}


{% if xx.LINKS %}
    <!-- <div class="bg-light"> -->
        <div class="myh2 bg-light-1" style="margin-bottom:1ex ">{{ LINKS_WIDGET_NAME | default('Links') }}</div>
    <!-- </div> -->
    <hr style='border:1px solid rgb(200,200,200)'>
    <a href="#" onclick="alert('{{xx.mensaje.horarios}}');return false">Horarios de misa</a>
    
    <div style="margin-bottom:1ex;"></div>   
            <hr style='border:1px solid rgb(200,200,200)'>
        <!-- <ul> -->
        {% for name, link in xx.LINKS %}
            <!-- <li> -->
            	<p style="padding:0ex ; text-align: left"><a href="{{ link }}" target="_blank" rel="noopener noreferrer">{{ name }}</a></p>
            <hr style='border:1px solid rgb(200,200,200)'>
            <!-- </li> -->
        {% endfor %}
        <!-- </ul> -->
{% endif %}



<div style ='margin-top:30vh'>
{{xx.fecha|safe}}
</div>

<div style="margin-bottom:10ex;"></div>
